h1 {
   /*color:green*/
   text-align:center;
   font-family: Georgia,serif;
}
h2 {
    font-family: Georgia,serif;
    font-size:large;
    font-weight:bold;
    color: darkslategrey;
}
h3 {
    font-family: Georgia,serif;
    font-size: medium;
    font-weight: bold;
}
img{
   width:25%
}

#chapeau {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bold{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}